@model List<Agencja_Interaktywna.Models.Projekt>
@{
    ViewData["Title"] = "Index";
}

<h1>Witaj @ViewBag.userEmail </h1>

<table>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    <img src="/@item.Logo" alt="/@item.Logo" height="100" width="100" />
                </td>
                <td>
                    @item.Nazwa
                </td>

                <td>
                    <a asp-action="ProjectDetails" asp-route-id="@item.IdProjekt" class="btn btn-primary">Podgląd</a>
                </td>
            </tr>
        }
    </tbody>
</table>