@model List<Interactive_Agency.Models.Project>
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome @ViewBag.userEmail </h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Project loge</th>
            <th scope="col">Project name</th>
            <th scope="col">Preview</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    <img src="/@item.ProjectLogo" alt="/@item.ProjectLogo" height="100" width="100" />
                </td>
                <td>
                    @item.ProjectName
                </td>

                <td>
                    <a asp-action="ProjectDetails" asp-route-projectId="@item.ProjectId" class="btn btn-primary">Preview</a>
                </td>
            </tr>
        }
    </tbody>
</table>