@model List<Interactive_Agency.Models.EmployeeTeam>
@{
    ViewData["Title"] = "Teams";
}

<h1>Team members</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @item.EmployeeIdNavigation.EmployeeIdNavigation.FirstName
                </td>
                <td>
                    @item.EmployeeIdNavigation.EmployeeIdNavigation.LastName
                </td>
                <td>
                    @item.EmployeeIdNavigation.EmployeeIdNavigation.Role
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="ProjectDetails" onClick="history.go(-1); return false;" class="btn btn-primary">Role</a>