<!DOCTYPE html>
<html lang="en">
<head>
    <meta charswt="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index">
                    <img src="/images/Agencja_Interaktywna_Logo.png" alt="/images/Agencja_Interaktywna_Logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" />
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Index</a>
                        </li>
                        <form method="post" asp-controller="Admin" asp-action="Logout">
                            <button class="btn btn-primary btn-delete">Logout</button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="sidebar-layout">
        <div class="sidebar-aside-content">
            <ul class="sidebar-nav">
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="Companies">Companies</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="Contracts">Contracts</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="Packages">Packages</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="Persons">Persons</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="ProgrammingLanguages">Programming</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="Projects">Projects</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="Services">Services</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="Teams">Teams</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <main role="main" class="pb-3 pt-5">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer">
            <div class="container">
                &copy; 2020 - Interactive_Agency - <a asp asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>