@model Interactive_Agency.Models.Functional.AssignCompanyModel
@{
    ViewData["Title"] = "AssignCompany";
}

<h3>Proszę powiązać firmę</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="AssignCompany">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Client.ClientId" />
            <div class="form-group">
                <label asp-for="@Model.Company.CompanyName" class="control-label">Nazwa firmy</label>
                <input type="text" class="form-control" asp-for="@Model.Company.CompanyName" />
                <span asp-validation-for="ErrorHandler" class="text-danger"></span>
            </div>
            <div class="btn-group">
                <input type="submit" value="Zatwierdź" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
