@model Interactive_Agency.Models.Project
@{
    ViewData["Title"] = "ProjectDetails";
}
<h3>Project name  @Html.DisplayFor(model => model.ProjectName)</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Project logo</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="/@Model.ProjectLogo" alt="/@Model.ProjectLogo" height="100" width="100" />
            </td>
            <td>
                <a asp-action="Team" asp-route-id="@Model.ProjectId" class="btn btn-primary">Display team</a>
                <a asp-action="Contract" asp-route-id="@Model.ProjectId" class="btn btn-primary">Display package</a>
            </td>
        </tr>
    </tbody>
</table>
<a href="Index" onClick="history.go(-1); return false;" class="btn btn-primary">Return</a>