@model Agencja_Interaktywna.Models.Osoba


@{
    ViewData["Title"] = "ForgottenPassword";
}

<h1>Odzyskiwanie Hasła</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdresEmail" class="control-label">Adres E-mail</label>
                <input asp-for="AdresEmail" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Haslo" class="control-label">Hasło</label>
                <input asp-for="Haslo" class="form-control" type="password" />
                <span asp-validation-for="Haslo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PotwierdzHaslo" class="control-label">Potwierdź Hasło</label>
                <input asp-for="PotwierdzHaslo" class="form-control" type="password" />
                <span asp-validation-for="PotwierdzHaslo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="ForgottenPassword">Zapomniałeś hasła? Kliknij tutaj!</a>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary">Wstecz</a>
                <input type="submit" value="Zaloguj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}