@{
    ViewData["Title"] = "Home Page";
}

<div class="text-justify">
    <h2 class="text-center">Welcome in our aplication</h2>
    <p>
        <img src="~/images/pierwsze.jpg" alt="Obrazek1" width="300" height="250" style="float:left; margin:5px 15px 10px 0px">
        The main goal of the application is to create a set of tools for the boss to manage projects and teams from the web application.
        The management will include such activities as the ability to create teams composed of company employees, which means the ability to edit the composition of the staff.
        The ability to quickly set up a project by entering basic data, team selection, client and applicable contract.
        Convenient system of making appointments with clients for himself and employees, which will be displayed in the form of a list.
        Employees will be provided with an interface giving them access to all the projects their team or teams are working on.
        <img src="~/images/drugie.jpg" alt="Obrazek2" width="300" height="250" style="float:right; margin:15px 0px 15px 15px">
        Once they enter the details of a particular project, they will get an overview of the tasks assigned to their work group, such as graphic designers, making everyone know what is being done, to be done, without the need to communicate with co-workers.
    </p>
    <p>
        To sum up, our application allows you to manage projects, teams of employees, tasks or meetings between clients and employees in a very easy way.
        Each user in the application has his own interface, where he has access to specific functionalities depending on his role in the company.
        At any time we can customize the application according to the client's needs and expand the functionalities already in place or create new ones that meet the client's requirements,
        because in our opinion the application can be extended quite easily having more than the basics for development.
    </p>
</div>