@{
    ViewData["Title"] = "Home Page";
}

<div class="text-justify">
    <h2 class="text-center">Witamy w naszej aplikacji</h2>
    <p>
        <img src="~/images/pierwsze.jpg" alt="Obrazek1" width="300" height="250" style="float:left; margin:5px 15px 10px 0px">
        Głównym celem aplikacji jest stworzenie dla szefa zestawu narzędzi, który umożliwi mu zarządzanie projektami i zespołami z poziomu aplikacji webowej.
        Do zarządzania zaliczać się będą takie czynności jak możliwość tworzenie zespołów złożonych z pracowników firmy, co za tym idzie możliwość edycji składu osobowego.
        Możliwość szybkiego skonfigurowania projektu, poprzez wprowadzenie podstawowych danych, wyboru zespołu, klienta i obowiązującej umowy.
        Wygodny system umawiania spotkań z klientami dla samego siebie i pracowników, które to będą wyświetlane w formie listy.
        Pracownicy otrzymają interfejs dający im dostęp do wszystkich projektów, nad którymi pracuje ich zespół lub zespoły.
        <img src="~/images/drugie.jpg" alt="Obrazek2" width="300" height="250" style="float:right; margin:15px 0px 15px 15px">
        Po wejściu w szczegóły danego projektu będą otrzymywali wgląd w zadania przydzielone ich grupie pracowniczej, np. grafikom, przez co każdy wie co jest robione, do zrobienia bez potrzeby komunikacji z współpracownikami.
    </p>
    <p>
        Reasumując nasza aplikacja w bardzo łatwy sposób pozwala na zarządzanie projektami, zespołami złożonymi z pracowników, zadaniami czy też spotkaniami pomiędzy klientami a pracownikami. 
        Każdy użytkownik w aplikacji posiada swój interfejs, w którym ma dostęp do konkretnych funkcjonalności w zależności od roli, którą pełni w firmie. 
        W dowolnym momencie możemy dostosować aplikację pod potrzeby klienta i rozbudować funkcjonalności już istniejące bądź stworzyć nowe odpowiadające wymaganiom klienta, 
        ponieważ naszym zdaniem aplikacja w dość łatwy sposób może być rozbudowywana mając coś więcej niż podstawy ku rozwojowi.
    </p>
</div>