@model Agencja_Interaktywna.Models.Functional.OsobaToken

@{
    ViewData["Title"] = "Token";
}

<h1>Odzyskiwanie hasła</h1>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>Sukces!</strong>@ViewBag.Message
        </div>
    }
}
else
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Token">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AdresEmail" class="control-label">Adres E-mail</label>
                    <input asp-for="AdresEmail" class="form-control" />
                    <span asp-validation-for="AdresEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-action="Login" class="btn btn-primary">Wstecz</a>
                    <input type="submit" value="Wyślij" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}