@{
    ViewData["Title"] = "Verify";
}

<h1>Verification</h1>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-succes">
        <strong>Succes!</strong> Your account has been successfully activated. Click here to @Html.ActionLink("log in", "Login", "Home")
    </div>
}
else
{
    <div class="alert alert-succes">
        <strong>Failure!</strong> @ViewBag.Message
    </div>
}