@model Agencja_Interaktywna.Models.Functional.TeamCreateModel
@{
    ViewData["Title"] = "TeamCreate";
}

<h1>Tworzenie Zespołu</h1>

<form method="post" asp-action="TeamsCreate">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        Nazwa zespołu: <input type="text" asp-for="@Model.zespol.Nazwa" />
        <span asp-validation-for="zespol.Nazwa"></span>
    </div>
    <div>
        @for (int i = 0; i < Model.pracowniks.Count; i++)
        {
            <input type="hidden" asp-for="@Model.pracowniks[i].Value" />
            <input asp-for="pracowniks[i].Selected" />@Model.pracowniks[i].Text
        }
        @if (ViewBag.Error != null)
        {
            <script type="text/javascript">
                                window.onload = function () {
                                    alert("@ViewBag.Error")
                                    return false;
                                };
            </script>
        }
    </div>
    <div>
        <input type="submit" value="Zatwierdź" />
    </div>
</form>
<a href="Index" onClick="history.go(-1); return false;"> Wróć</a>