@model List<Interactive_Agency.Models.Project>
@{
    ViewData["Title"] = "Index";
}

<h3>Witaj @ViewBag.userEmail </h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Logo projektu</th>
            <th scope="col">Nazwa projektu</th>
            <th scope="col">Podgląd</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    <img src="/@item.Logo" alt="/@item.Logo" height="100" width="100" />
                </td>
                <td>
                    @item.Nazwa
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="ProjectDetails" asp-route-id="@item.IdProjekt">Podgląd</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<td>
    <a asp-action="ProjectCreate" class="btn btn-primary">Dodaj nowy projekt</a>
</td>