@model List<Interactive_Agency.Models.Project>
@{
    ViewData["Title"] = "Index";
}

<h3>Welcome @ViewBag.userEmail </h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Project logo</th>
            <th scope="col">Project name</th>
            <th scope="col">Preview</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    <img src="/@item.ProjectLogo" alt="/@item.ProjectLogo" height="100" width="100" />
                </td>
                <td>
                    @item.ProjectName
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="ProjectDetails" asp-route-id="@item.ProjectId">Preview</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<td>
    <a asp-action="ProjectCreate" class="btn btn-primary">Add new project</a>
</td>