@model Interactive_Agency.Models.Functional.TeamCreateModel
@{
    ViewData["Title"] = "TeamCreate";
}

<h1>Team Create</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="TeamsCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger" />
            <div class="form-group">
                <label asp-for="Team.TeamName" class="control-label">Team name</label>
                <input type="text" class="form-control" asp-for="@Model.Team.TeamName" />
                <span asp-validation-for="Employees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employees" class="control-label">Employee list</label>
                <table class="table">
                    @for (int i = 0; i < Model.Employees.Count; i++)
                    {
                        <tr>
                            <td>
                                @Model.Employees[i].Text
                            </td>
                            <td>
                                <input type="hidden" asp-for="@Model.Employees[i].Value" />
                                <input asp-for="Employees[i].Selected" style="vertical-align: 3px" />
                            </td>
                        </tr>
                    }
                </table>
                <span asp-validation-for="Employees" class="text-danger"></span>
            </div>
            <div class="btn-group">
                <a asp-action="Teams" class="btn btn-primary">Return</a>
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>